html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #FFE;
    font-family: Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

svg#mainData {
    position: relative;
    width: 100%;
    height: 100%;
}

svg text {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

