html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#container {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    top: 0;
    left: 0;
}

svg#mainData {
    background-color: #FFE;
    width: 100%;
    height: 100%
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.casesLine {
    stroke: #888;
}

.hospsLine {
    stroke: #AC0;
}

.deathsLine {
    stroke: #C40;
}
